doctype html
html(lang="ru")
    head
        //- Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="format-detection" content="telephone=no")

        //- Main CSS
        link(rel="stylesheet" href="../assets/build/style/main.css")

        //- Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")

        //- Google fonts
        link(href="https://fonts.googleapis.com/css?family=Bad+Script|Montserrat+Alternates|Open+Sans:300|PT+Mono&display=swap&subset=cyrillic" rel="stylesheet")

        //- Font awesome
        script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")

        //- jQuery first
        //- then Main JavaScript
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="../assets/build/js/main.js")

        //[if IE]>
            link(rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all")
            script(type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js")
            <![endif]>

        block title
    body
        //- Navigation
        include components/base/_nav.pug

        main
            block content

        //- Footer
        include components/base/_footer.pug

        //- Push Alert
        include components/base/_alert.pug

        //- Optional JavaScript
        //- Popper.js, then Bootstrap JS
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")

        //- Dollar and Euro
        script(src="//www.cbr-xml-daily.ru/daily_jsonp.js" async)
        data.USD(value="0.000000000")
        data.EUR(value="0.000000000")
