extends base.pug

block title
    title Магазин Цветов

block content
    //- Intro
    include components/index/_intro.pug
    
    //- Contacts
    include components/index/_contacts.pug
    
    //- Services
    include components/index/_services.pug
    
    //- Results
    include components/index/_results.pug
