/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* INDEX.SCSS
==================*/
/* IMPORTS
==================*/
/* BREAKPOINTS
==================*/
/* FONTS
==================*/
/* COLORS
==================*/
/* MIXINS
==================*/
/* NAVIGATION
==================*/
.navbar {
  min-width: 363px;
  background-color: rgba(255, 255, 255, 0.9); }
  .navbar-brand {
    font: 400 41px "Bad Script", cursive; }
  .navbar-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.nav-link {
  font: 400 17px "Montserrat Alternates", sans-serif; }

.flag {
  padding: 0 !important;
  width: 32px !important;
  height: 24px !important; }

.icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 20px 0 10px; }
  @media (max-width: 991px) {
    .icon-item {
      margin: 0; } }

.btn-item {
  margin-top: 5px;
  padding: 0px !important; }
  .btn-item .nav-link {
    padding: inherit; }
  @media (max-width: 991px) {
    .btn-item {
      margin-top: 7px;
      padding: 3px 3px 3px 0 !important; } }

.fa-user {
  padding: 4px 7px 0 0;
  font-size: 20px;
  color: #fff; }

/* Filters
==================*/
.filters {
  padding: 4px 8px !important;
  margin-right: 10px; }

.filters-lg {
  width: 144px !important; }

.filters-menu {
  width: 946px;
  left: -90% !important;
  max-height: 780px;
  overflow: auto; }
  @media (max-width: 991px) {
    .filters-menu {
      width: 790px;
      max-height: 600px;
      left: -180% !important; } }
  @media (max-width: 870px) {
    .filters-menu {
      left: -195% !important; } }
  @media (max-width: 767px) {
    .filters-menu {
      width: 566px;
      left: -130% !important; } }
  @media (max-width: 640px) {
    .filters-menu {
      width: 566px;
      left: -120% !important; } }
  @media (max-width: 576px) {
    .filters-menu {
      width: 366px;
      left: -60% !important; } }
  @media (max-width: 444px) {
    .filters-menu {
      left: 10% !important; } }
  @media (max-width: 420px) {
    .filters-menu {
      left: 4% !important; } }
  @media (max-width: 400px) {
    .filters-menu {
      left: -5% !important; } }
  @media (max-width: 363px) {
    .filters-menu {
      left: -12% !important; } }

.dropdown-item:focus, .dropdown-item:active {
  background-color: #f8f8f8 !important;
  color: initial !important; }

.inline-input {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important; }
  .inline-input label, .inline-input input {
    padding: 0; }
  .inline-input input[type="checkbox"],
  .inline-input input[type="radio"] {
    display: none; }

/* Checkboxes and radio buttons */
.fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px !important;
  height: 17px !important;
  border: 1px solid #000; }
  .fake::before {
    content: "";
    display: block;
    width: 9px !important;
    height: 9px !important;
    background-color: #ecabac;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    opacity: 0; }
    input[type="checkbox"]:checked + .fake::before {
      opacity: 1; }
    input[type="radio"]:checked + .fake::before {
      border-radius: 4px;
      opacity: 1; }

.checkbox {
  border-radius: 3px; }

.radio {
  border-radius: 8px; }

@media (max-width: 767px) {
  .margins-md {
    margin-bottom: 10px !important; } }

@media (max-width: 576px) {
  .none-margins {
    margin: 0 !important; } }

@media (max-width: 576px) {
  .none-paddings-sm {
    padding: 0 !important; } }

.none-paddings {
  padding-right: 0 !important; }

@media (max-width: 576px) {
  .color-filters {
    padding-left: 1.5rem !important; } }

.small-paddings-item {
  padding-right: .3rem !important; }
  @media (max-width: 576px) {
    .small-paddings-item {
      padding: .25rem 1.5rem !important; } }

.small-paddings-md-item {
  padding-right: .3rem !important; }
  @media (max-width: 991px) {
    .small-paddings-md-item {
      padding: .25rem 1.5rem !important; } }

.fa-star {
  font-size: 18px;
  margin-right: 5px; }

.popular {
  font-weight: 700; }

.fa-star, .popular {
  color: #ffd92e !important; }

.icon-checked {
  opacity: 0;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear; }

.white-icon {
  color: #fff; }

.b-size {
  font-size: 13px; }

.b-color {
  display: inline-block;
  position: relative;
  width: 33px !important;
  height: 33px !important;
  border-width: 2px !important;
  padding: 0 !important; }
  .b-color, .b-color img {
    vertical-align: initial !important; }
  .b-color:focus, .b-color:active {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.red {
  background-color: #f00 !important;
  cursor: pointer; }
  .red:hover {
    background-color: #ff1a1a !important; }

.pink {
  background-color: #ffd2e8 !important;
  cursor: pointer; }
  .pink:hover {
    background-color: #ffecf5 !important; }

.orange {
  background-color: #ffa500 !important;
  cursor: pointer; }
  .orange:hover {
    background-color: #ffae1a !important; }

.yellow {
  background-color: #ffd92e !important;
  cursor: pointer; }
  .yellow:hover {
    background-color: #ffde48 !important; }

.green {
  background-color: #84f542 !important;
  cursor: pointer; }
  .green:hover {
    background-color: #94f65a !important; }

.blue {
  background-color: #5493ff !important;
  cursor: pointer; }
  .blue:hover {
    background-color: #6ea3ff !important; }

.purple {
  background-color: #b554ff !important;
  cursor: pointer; }
  .purple:hover {
    background-color: #c06eff !important; }

.black {
  background-color: #2d2c2e !important;
  cursor: pointer; }
  .black:hover {
    background-color: #3a383b !important; }

.white {
  background-color: #fff !important;
  cursor: pointer; }
  .white:hover {
    background-color: white !important; }

.red:hover {
  background-color: #f00000 !important; }

.pink:hover {
  background-color: #ffdced !important; }

.white {
  border-color: #a1a1a1 !important; }
  .white:hover {
    border-color: #bbbbbb !important; }

.multi-color {
  background: -webkit-gradient(linear, left top, left bottom, from(crimson), color-stop(gold), color-stop(yellowgreen), color-stop(teal), to(crimson)) !important;
  background: -o-linear-gradient(crimson, gold, yellowgreen, teal, crimson) !important;
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson) !important; }

/* Currencies
==================*/
.currencies-menu {
  min-width: 120px !important;
  margin-bottom: 10px !important; }

.currencies-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25rem 1rem !important;
  font-size: 20px;
  cursor: pointer; }
  .currencies-item:last-child {
    margin: 0; }

/* ALERT
==================*/
.alert {
  width: 300px !important;
  height: 100px !important;
  margin: 0 0 20px 20px;
  border: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25); }
  .alert-title, .alert-goods, .alert-link {
    margin: 10px 0 0 13px; }
  .alert-title {
    font: 400 63px "PT Mono", monospace;
    font-size: 15px; }
  .alert-goods {
    margin-top: 5px;
    color: #8b8b8b;
    font-size: 13px; }
  .alert-link {
    margin-top: 6px; }
    .alert-link:visited, .alert-link:active, .alert-link:focus, .alert-link:hover {
      background-color: initial;
      color: #17a2b8 !important; }
  .alert .close {
    padding: 6px 10px 0 0 !important; }
    .alert .close:focus, .alert .close:active {
      outline: none; }

/* SETTINGS
==================*/
body {
  min-width: 363px;
  height: 200vh;
  font: 300 15px "Open Sans", sans-serif;
  color: #404040; }

.main-color {
  color: #de6d6e; }

.title {
  margin-bottom: 5px;
  font: 400 63px "PT Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px; }

.price {
  padding-right: 5px; }

@media (min-width: 1000px) {
  .container-lg {
    max-width: 1140px !important;
    padding: 0 !important; } }

@media (min-width: 1440px) {
  .container-lg {
    max-width: 1340px !important;
    padding: 0 !important; } }

@media (min-width: 1600px) {
  .container-lg {
    max-width: 1540px !important;
    padding: 0 !important; } }

.btn-pink {
  background-color: #de6d6e !important;
  border-color: #de6d6e !important;
  color: #fff !important; }
  .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #e1797a !important;
    border-color: #e1797a !important; }
  .btn-pink:focus, .btn-pink:active {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important;
            box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important; }

.link, .link:hover, .link:focus,
.link:active, .link:visited {
  color: #736e6e;
  text-decoration: none; }

.link:hover {
  color: #595555; }

label {
  cursor: pointer; }

/* INTRO
==================*/
.intro {
  height: 661px;
  color: #fff; }
  @media (max-width: 560px) {
    .intro {
      height: 50vh; } }
  @media (min-width: 1366px) {
    .intro {
      height: 80vh; } }
  @media (min-width: 1570px) {
    .intro {
      height: 100vh; } }

/* CAROUSEL
==================*/
.carousel-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 10%;
  z-index: 999; }

.carousel-caption {
  padding-bottom: 65px !important;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: static !important;
  text-shadow: 1px 1px 10px #000; }
  .carousel-caption .subtitle {
    font-size: 26px; }
  @media (min-width: 1570px) {
    .carousel-caption {
      padding-bottom: 80px !important; }
      .carousel-caption .title {
        font-size: 100px; } }
  @media (max-width: 1180px) {
    .carousel-caption .title {
      font-size: 57px; }
    .carousel-caption .subtitle {
      font-size: 20px; } }
  @media (max-width: 785px) {
    .carousel-caption .title {
      font-size: 46px; }
    .carousel-caption .subtitle {
      font-size: 17px; } }
  @media (max-width: 662px) {
    .carousel-caption .title {
      font-size: 36px; }
    .carousel-caption .subtitle {
      max-width: 70%;
      margin: 0 auto; } }
  @media (max-width: 529px) {
    .carousel-caption {
      padding-bottom: 15px !important; }
      .carousel-caption .title {
        font-size: 30px; }
      .carousel-caption .subtitle {
        max-width: 94%; } }
  @media (max-width: 440px) {
    .carousel-caption .title {
      font-size: 26px; }
    .carousel-caption .subtitle {
      max-width: 96%; } }
  @media (max-width: 390px) {
    .carousel-caption .title {
      font-size: 24px; }
    .carousel-caption .subtitle {
      max-width: 100%; } }

.carousel-item {
  background-size: cover !important; }

.carousel-img-1 {
  background: url("../../images/intro/bg1.png") no-repeat center center fixed; }

.carousel-img-2 {
  background: url("../../images/intro/bg2.jpg") no-repeat center center fixed; }

.carousel-img-3 {
  background: url("../../images/intro/bg3.jpg") no-repeat center center fixed; }

/* ROUNDS
==================*/
.rounds {
  width: 155px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  /* For IE10-11
    ======================== */
  /* ====================== */ }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rounds {
      left: 50%;
      -webkit-transform: translate(-50%, -10%);
          -ms-transform: translate(-50%, -10%);
              transform: translate(-50%, -10%); } }
  @media (max-width: 1180px) {
    .rounds {
      top: 45%; } }
  @media (max-width: 785px) {
    .rounds {
      top: 50%; } }
  @media (max-width: 560px) {
    .rounds {
      top: 27%; } }
  @media (min-width: 1570px) {
    .rounds {
      top: 50%; } }

.round {
  position: absolute;
  background-color: #fff;
  opacity: 0.56; }

.big-round {
  width: 117px !important;
  height: 117px !important;
  bottom: 0; }

.medium-round {
  width: 92px !important;
  height: 92px !important;
  top: 0;
  right: 0; }

.small-round {
  width: 71px !important;
  height: 71px !important;
  top: 40%;
  right: 0; }

/* CONTACTS
==================*/
.contacts {
  margin-top: 65px; }
  @media (max-width: 1155px) {
    .contacts-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .contacts .content-item {
    -ms-flex: 0 0 50% !important;
    -webkit-box-flex: 50% !important;
            flex: 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
    @media (max-width: 1155px) {
      .contacts .content-item {
        -ms-flex: 0 0 100% !important;
        -webkit-box-flex: 100% !important;
                flex: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        padding: 0 150px;
        margin-bottom: 20px; }
        .contacts .content-item:last-child {
          margin: 0;
          padding-right: 180px; } }
    @media (max-width: 966px) {
      .contacts .content-item {
        padding: 0 90px; }
        .contacts .content-item:last-child {
          padding-right: 100px; } }
    @media (max-width: 740px) {
      .contacts .content-item {
        padding: 0 60px; }
        .contacts .content-item:last-child {
          padding-right: 70px; } }
    @media (max-width: 644px) {
      .contacts .content-item {
        padding: 0 30px; }
        .contacts .content-item:last-child {
          padding-right: 40px; } }
    @media (max-width: 575px) {
      .contacts .content-item {
        margin: 0;
        padding: 0; }
        .contacts .content-item:last-child {
          padding: 0; } }
  @media (max-width: 1155px) {
    .contacts .content-first, .contacts .content-second {
      -webkit-box-pack: justify !important;
          -ms-flex-pack: justify !important;
              justify-content: space-between !important; } }
  .contacts-item {
    font-size: 20px; }
    @media (max-width: 966px) {
      .contacts-item {
        font-size: 18px; } }
    @media (max-width: 575px) {
      .contacts-item {
        -ms-flex: 0 0 100% !important;
        -webkit-box-flex: 100% !important;
                flex: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 20px; } }

.address .fa-map-marker {
  margin-right: 5px; }

.address-text {
  display: block;
  margin-top: 5px;
  width: auto !important; }
  .address-text .dotted {
    border-bottom: 1px dotted #000; }

@media (max-width: 575px) {
  .hot-line-number {
    margin: 0 0 0 8px; } }

.hot-line .fa-phone {
  font-size: 16px;
  margin-left: 9px; }

.numbers .contact-number-whatsapp,
.numbers .contact-number-viber {
  font-size: 18px; }

.numbers .contact-number-whatsapp {
  margin-top: 5px; }

.numbers .contact-number-viber {
  margin-bottom: 5px; }

.numbers .contact-icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 5px; }

@media (max-width: 575px) {
  .container-column-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/* SERVICES
==================*/
.services {
  margin: 85px auto 0 auto; }

/* SLIDER
==================*/
.slider {
  position: relative;
  overflow: hidden; }
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 4vw;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease; }
  .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex: 0 0 20% !important;
    -webkit-box-flex: 20% !important;
            flex: 20% !important;
    max-width: 20% !important;
    width: 20% !important;
    min-width: 209px;
    cursor: pointer; }
    @media (max-width: 1260px) {
      .slider-item {
        min-width: 25%; } }
    @media (max-width: 1090px) {
      .slider-item {
        min-width: 33%; } }
    @media (max-width: 840px) {
      .slider-item {
        min-width: 50%; } }
    @media (max-width: 575px) {
      .slider-item {
        min-width: 100%; } }
    .slider-item .item-wrapper {
      width: 209px !important;
      height: 209px !important;
      position: relative;
      overflow: hidden;
      background-color: initial;
      -webkit-transition: background-color 124ms linear;
      -o-transition: background-color 124ms linear;
      transition: background-color 124ms linear;
      text-align: center; }
      .slider-item .item-wrapper .item-desc {
        min-width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: opacity 124ms linear;
        -o-transition: opacity 124ms linear;
        transition: opacity 124ms linear;
        font-size: 15px;
        color: #fff; }
      .slider-item .item-wrapper img {
        opacity: 1;
        -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
        transition: opacity 124ms linear, -webkit-transform 124ms linear;
        -o-transition: opacity 124ms linear, transform 124ms linear;
        transition: opacity 124ms linear, transform 124ms linear;
        transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear; }
      .slider-item .item-wrapper:hover, .slider-item .item-wrapper:focus, .slider-item .item-wrapper:active {
        background-color: rgba(0, 0, 0, 0.9); }
      .slider-item .item-wrapper:hover img {
        opacity: .6;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }
      .slider-item .item-wrapper:hover .item-desc {
        opacity: 1; }
  .slider-control {
    width: 40px !important;
    height: 50px !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.5); }
    @media (min-width: 1261px) {
      .slider-control {
        display: none; } }
    .slider-control::before {
      content: '';
      display: inline-block;
      width: 20px !important;
      height: 20px !important;
      background: transparent no-repeat center center;
      background-size: 100% 100%; }
    .slider-control:hover, .slider-control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9; }
    .slider-control-left {
      left: 0; }
      .slider-control-left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
    .slider-control-right {
      right: 0; }
      .slider-control-right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

/* SETTINGS
==================*/
.results {
  margin-top: 100px;
  padding-left: 5px;
  width: 333px;
  /* CARD
    ==================*/ }
  @media (min-width: 546px) and (max-width: 689px) {
    .results {
      min-width: 550px;
      max-width: 666px;
      width: initial; } }
  @media (min-width: 690px) {
    .results {
      width: 666px; } }
  @media (min-width: 1050px) {
    .results {
      width: 999px; } }
  @media (min-width: 1370px) {
    .results {
      width: 1332px; } }
  @media (min-width: 1690px) {
    .results {
      width: 1665px; } }
  .results-item {
    margin-bottom: 15px;
    padding-right: 15px;
    width: 333px !important;
    height: 478px !important; }
    @media (min-width: 546px) and (max-width: 689px) {
      .results-item {
        width: 50% !important;
        height: 438px !important; } }
  .results .group {
    margin-bottom: 30px;
    width: inherit; }
    .results .group-title {
      font: 400 17px "Montserrat Alternates", sans-serif;
      font-size: 32px; }
      @media (max-width: 689px) {
        .results .group-title {
          font-size: 25px; } }
    .results .group-subtitle {
      margin-bottom: 30px;
      font-size: 14px;
      color: #8b8b8b; }
      @media (max-width: 689px) {
        .results .group-subtitle {
          font-size: 12px; } }
    .results .group-btn {
      width: calc(100% - 15px); }
      @media (max-width: 689px) {
        .results .group-btn-text {
          font-size: 16px; } }
  .results .card-img-top {
    height: 313px;
    opacity: 1;
    -webkit-transition: opacity 324ms linear, -webkit-transform 324ms linear;
    transition: opacity 324ms linear, -webkit-transform 324ms linear;
    -o-transition: opacity 324ms linear, transform 324ms linear;
    transition: opacity 324ms linear, transform 324ms linear;
    transition: opacity 324ms linear, transform 324ms linear, -webkit-transform 324ms linear; }
    @media (min-width: 546px) and (max-width: 689px) {
      .results .card-img-top {
        height: 270px; } }
  .results .card .product-preview {
    position: relative;
    position: relative;
    overflow: hidden;
    background-color: initial;
    -webkit-transition: background-color 324ms linear;
    -o-transition: background-color 324ms linear;
    transition: background-color 324ms linear;
    text-align: center; }
    .results .card .product-preview .round-preview {
      width: 100px !important;
      height: 100px !important;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 2px dotted #fff;
      color: #fff;
      opacity: 0;
      -webkit-transition: opacity 324ms linear;
      -o-transition: opacity 324ms linear;
      transition: opacity 324ms linear;
      border-radius: 50%; }
    .results .card .product-preview:hover, .results .card .product-preview:focus, .results .card .product-preview:active {
      background-color: #000; }
    .results .card .product-preview:hover .card-img-top {
      opacity: .6;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
    .results .card .product-preview:hover .round-preview {
      opacity: 1; }
    .results .card .product-preview .bonuses {
      width: 80px !important;
      height: auto !important;
      padding: 10px 0 5px 8px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top-right-radius: 85%;
      background-color: #fff98c;
      color: #ffaf75;
      font-size: 15px; }
      .results .card .product-preview .bonuses .fa-gift {
        padding: 0 8px 3px 0;
        font-size: 22px; }
    .results .card .product-preview .favorite-mark {
      width: 48px !important;
      height: 48px !important;
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 999;
      cursor: pointer; }
      .results .card .product-preview .favorite-mark:hover .favorite-icon .fa-heart {
        color: #f02626;}
      .results .card .product-preview .favorite-mark:active .favorite-icon {
        width: 29px !important;
        height: 29px !important; }
      .results .card .product-preview .favorite-mark .white-round {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 50%; }
      .results .card .product-preview .favorite-mark .favorite-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 24px !important;
        height: 24px !important;
        -webkit-transition: width .1s linear, height .1s linear;
        -o-transition: width .1s linear, height .1s linear;
        transition: width .1s linear, height .1s linear; }
        .results .card .product-preview .favorite-mark .favorite-icon .fa-heart {
          color: #f7875e;
          -webkit-transition: color .8s linear;
          -o-transition: color .8s linear;
          transition: color .8s linear; }
    .results .card .product-preview .hit-mark {
      width: 120px !important;
      height: 68px !important;
      padding: 0 3px 3px 0;
      position: absolute;
      bottom: 0;
      right: 0; }
      .results .card .product-preview .hit-mark::-moz-selection {
        background: transparent; }
      .results .card .product-preview .hit-mark::selection {
        background: transparent; }
      .results .card .product-preview .hit-mark::-moz-selection {
        background: transparent; }
  .results .card-title {
    position: relative;
    margin: 12px 0 7px 0;
    font-size: 16px; }
    .results .card-title .fa-question-circle {
      margin-left: 5px;
      font-size: 13px;
      cursor: pointer; }
      .results .card-title .fa-question-circle:hover + .structure,
      .results .card-title .fa-question-circle:focus + .structure,
      .results .card-title .fa-question-circle:active + .structure {
        display: block; }
    .results .card-title .structure {
      display: none;
      width: 280px;
      position: absolute;
      top: 0%;
      right: 50%;
      -webkit-transform: translate(50%, -110%);
          -ms-transform: translate(50%, -110%);
              transform: translate(50%, -110%);
      background-color: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25); }
      .results .card-title .structure .text-left {
        margin-left: 15px; }
      .results .card-title .structure .info-title {
        margin: 8px 0 6px 15px;
        font-size: 16px; }
      .results .card-title .structure .info-value {
        margin-bottom: 8px;
        color: #8b8b8b; }
      .results .card-title .structure .structure-value {
        font-size: 14px; }
  .results .card .product-rate {
    margin-top: 10px;
    height: 32px;
    font-size: 12px; }
    .results .card .product-rate .score-block {
      width: 32px;
      margin-right: 10px;
      background-color: #e79797;
      border-radius: 4px;
      font-weight: 600;
      color: #fff; }
    .results .card .product-rate .reviews {
      color: #8b8b8b; }
