/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* IMPORTS
==================*/
/* BREAKPOINTS
==================*/
/* FONTS
==================*/
/* COLORS
==================*/
/* MIXINS
==================*/
/* NAVIGATION
==================*/
.navbar {
  min-width: 363px;
  background-color: rgba(255, 255, 255, 0.9); }

.navbar-brand {
  font: 400 41px "Bad Script", cursive; }

.nav-link {
  font: 400 17px "Montserrat Alternates", sans-serif; }

.filters {
  padding: 4px 8px !important;
  margin-right: 10px; }

#filters-lg {
  width: 144px !important; }

.flag {
  padding: 0 !important;
  width: 32px;
  height: 24px; }

.icon-item {
  margin: 3px 20px 0 10px; }
  @media (max-width: 992px) {
    .icon-item {
      margin: 0; } }

.btn-item {
  margin-top: 5px;
  padding: 0px !important; }
  .btn-item .nav-link {
    padding: inherit; }
  @media (max-width: 992px) {
    .btn-item {
      margin-top: 10px;
      padding: 3px 3px 3px 0 !important; } }

.fa-user {
  padding: 4px 7px 0 0;
  font-size: 20px;
  color: #fff; }

.btn-pink {
  background-color: #de6d6e !important;
  border-color: #de6d6e !important;
  color: #fff !important; }
  .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #e1797a !important;
    border-color: #e1797a !important; }
  .btn-pink:focus, .btn-pink:active {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important;
            box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important; }

/* INTRO
==================*/
.intro {
  height: 661px;
  color: #fff; }
  @media (max-width: 560px) {
    .intro {
      height: 50vh; } }
  @media (min-width: 1366px) {
    .intro {
      height: 80vh; } }
  @media (min-width: 1570px) {
    .intro {
      height: 100vh; } }

/* CAROUSEL
==================*/
.carousel-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 10%;
  z-index: 999; }

.carousel-caption {
  padding-bottom: 65px !important;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: static !important;
  text-shadow: 1px 1px 10px #000; }
  @media (min-width: 1570px) {
    .carousel-caption {
      padding-bottom: 80px !important; }
      .carousel-caption .title {
        font-size: 100px; } }
  @media (max-width: 1180px) {
    .carousel-caption .title {
      font-size: 57px; }
    .carousel-caption .subtitle {
      font-size: 20px; } }
  @media (max-width: 785px) {
    .carousel-caption .title {
      font-size: 46px; }
    .carousel-caption .subtitle {
      font-size: 17px; } }
  @media (max-width: 662px) {
    .carousel-caption .title {
      font-size: 36px; }
    .carousel-caption .subtitle {
      max-width: 70%;
      margin: 0 auto; } }
  @media (max-width: 529px) {
    .carousel-caption {
      padding-bottom: 15px !important; }
      .carousel-caption .title {
        font-size: 30px; }
      .carousel-caption .subtitle {
        max-width: 94%; } }
  @media (max-width: 440px) {
    .carousel-caption .title {
      font-size: 26px; }
    .carousel-caption .subtitle {
      max-width: 96%; } }
  @media (max-width: 390px) {
    .carousel-caption .title {
      font-size: 24px; }
    .carousel-caption .subtitle {
      max-width: 100%; } }

.carousel-item {
  background-size: cover !important; }

.carousel-img-1 {
  background: url("../../images/intro/bg1.png") no-repeat center center fixed; }

.carousel-img-2 {
  background: url("../../images/intro/bg2.jpg") no-repeat center center fixed; }

.carousel-img-3 {
  background: url("../../images/intro/bg3.jpg") no-repeat center center fixed; }

/* ROUNDS
==================*/
.rounds {
  width: 155px;
  height: 150px;
  position: absolute;
  top: 40%; }
  @media (max-width: 1180px) {
    .rounds {
      top: 45%; } }
  @media (max-width: 785px) {
    .rounds {
      top: 50%; } }
  @media (max-width: 560px) {
    .rounds {
      top: 27%; } }
  @media (min-width: 1570px) {
    .rounds {
      top: 50%; } }

.round {
  position: absolute;
  background-color: #fff;
  opacity: 0.56; }

.big-round {
  width: 117px;
  height: 117px;
  bottom: 0; }

.medium-round {
  width: 92px;
  height: 92px;
  top: 0;
  right: 0; }

.small-round {
  width: 71px;
  height: 71px;
  top: 40%;
  right: 0; }

/* SETTINGS
==================*/
body, main {
  min-width: 363px; }

main {
  height: 200vh;
  font: 300 15px "Open Sans", sans-serif;
  color: #404040; }

.main-color {
  color: #de6d6e; }

.title {
  margin-bottom: 5px;
  font: 400 69px "PT Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px; }
