//* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* IMPORTS
==================*/
/* BREAKPOINTS
==================*/
/* FONTS
==================*/
/* COLORS
==================*/
/* MIXINS
==================*/
/* NAVIGATION
==================*/
.navbar {
  min-width: 363px;
  background-color: rgba(255, 255, 255, 0.9); }
  .navbar-brand {
    font: 400 41px "Bad Script", cursive; }
  .navbar-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.nav-link {
  font: 400 17px "Montserrat Alternates", sans-serif; }

.flag {
  padding: 0 !important;
  width: 32px !important;
  height: 24px !important; }

.icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 20px 0 10px; }
  @media (max-width: 991px) {
    .icon-item {
      margin: 0; } }

.btn-item {
  margin-top: 5px;
  padding: 0px !important; }
  .btn-item .nav-link {
    padding: inherit; }
  @media (max-width: 991px) {
    .btn-item {
      margin-top: 7px;
      padding: 3px 3px 3px 0 !important; } }

.fa-user {
  padding: 4px 7px 0 0;
  font-size: 20px;
  color: #fff; }

/* Filters
==================*/
.filters {
  padding: 4px 8px !important;
  margin-right: 10px; }

.filters-lg {
  width: 144px !important; }

.filters-menu {
  width: 946px;
  left: -90% !important; }
  @media (max-width: 991px) {
    .filters-menu {
      width: 790px;
      max-height: 600px;
      overflow: auto;
      left: -180% !important; } }
  @media (max-width: 870px) {
    .filters-menu {
      left: -195% !important; } }
  @media (max-width: 767px) {
    .filters-menu {
      width: 566px;
      left: -130% !important; } }
  @media (max-width: 640px) {
    .filters-menu {
      width: 566px;
      left: -120% !important; } }
  @media (max-width: 576px) {
    .filters-menu {
      width: 366px;
      left: -60% !important; } }
  @media (max-width: 444px) {
    .filters-menu {
      left: 10% !important; } }
  @media (max-width: 420px) {
    .filters-menu {
      left: 4% !important; } }
  @media (max-width: 400px) {
    .filters-menu {
      left: -5% !important; } }
  @media (max-width: 363px) {
    .filters-menu {
      left: -12% !important; } }

.dropdown-item:focus, .dropdown-item:active {
  background-color: #f8f8f8 !important;
  color: initial !important; }

.inline-input {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important; }
  .inline-input label, .inline-input input {
    padding: 0; }
  .inline-input input[type="checkbox"],
  .inline-input input[type="radio"] {
    display: none; }

/* Checkboxes and radio buttons */
.fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px !important;
  height: 17px !important;
  border: 1px solid #000; }
  .fake::before {
    content: "";
    display: block;
    width: 9px !important;
    height: 9px !important;
    background-color: #ecabac;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    opacity: 0; }
    input[type="checkbox"]:checked + .fake::before {
      opacity: 1; }
    input[type="radio"]:checked + .fake::before {
      border-radius: 4px;
      opacity: 1; }

.checkbox {
  border-radius: 3px; }

.radio {
  border-radius: 8px; }

@media (max-width: 767px) {
  .margins-md {
    margin-bottom: 10px !important; } }

@media (max-width: 576px) {
  .none-margins {
    margin: 0 !important; } }

@media (max-width: 576px) {
  .none-paddings-sm {
    padding: 0 !important; } }

.none-paddings {
  padding-right: 0 !important; }

@media (max-width: 576px) {
  .color-filters {
    padding-left: 1.5rem !important; } }

.small-paddings-item {
  padding-right: .3rem !important; }
  @media (max-width: 576px) {
    .small-paddings-item {
      padding: .25rem 1.5rem !important; } }

.small-paddings-md-item {
  padding-right: .3rem !important; }
  @media (max-width: 991px) {
    .small-paddings-md-item {
      padding: .25rem 1.5rem !important; } }

.fa-star {
  font-size: 18px;
  margin-right: 5px; }

.popular {
  font-weight: 700; }

.fa-star, .popular {
  color: #ffd92e !important; }

.icon-checked {
  opacity: 0;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear; }

.white-icon {
  color: #fff; }

.b-size {
  font-size: 13px; }

.b-color {
  display: inline-block;
  position: relative;
  width: 33px !important;
  height: 33px !important;
  border-width: 2px !important;
  padding: 0 !important; }
  .b-color, .b-color img {
    vertical-align: initial !important; }
  .b-color:focus, .b-color:active {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.red {
  background-color: #f00 !important;
  cursor: pointer; }
  .red:hover {
    background-color: #ff1a1a !important; }

.pink {
  background-color: #ffd2e8 !important;
  cursor: pointer; }
  .pink:hover {
    background-color: #ffecf5 !important; }

.orange {
  background-color: #ffa500 !important;
  cursor: pointer; }
  .orange:hover {
    background-color: #ffae1a !important; }

.yellow {
  background-color: #ffd92e !important;
  cursor: pointer; }
  .yellow:hover {
    background-color: #ffde48 !important; }

.green {
  background-color: #84f542 !important;
  cursor: pointer; }
  .green:hover {
    background-color: #94f65a !important; }

.blue {
  background-color: #5493ff !important;
  cursor: pointer; }
  .blue:hover {
    background-color: #6ea3ff !important; }

.purple {
  background-color: #b554ff !important;
  cursor: pointer; }
  .purple:hover {
    background-color: #c06eff !important; }

.black {
  background-color: #2d2c2e !important;
  cursor: pointer; }
  .black:hover {
    background-color: #3a383b !important; }

.white {
  background-color: #fff !important;
  cursor: pointer; }
  .white:hover {
    background-color: white !important; }

.red:hover {
  background-color: #f00000 !important; }

.pink:hover {
  background-color: #ffdced !important; }

.white {
  border-color: #a1a1a1 !important; }
  .white:hover {
    border-color: #bbbbbb !important; }

.multi-color {
  background: -webkit-gradient(linear, left top, left bottom, from(crimson), color-stop(gold), color-stop(yellowgreen), color-stop(teal), to(crimson)) !important;
  background: -o-linear-gradient(crimson, gold, yellowgreen, teal, crimson) !important;
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson) !important; }

/* Currencies
==================*/
.currencies-menu {
  min-width: 120px !important;
  margin-bottom: 10px !important; }

.currencies-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25rem 1rem !important;
  font-size: 20px;
  cursor: pointer; }
  .currencies-item:last-child {
    margin: 0; }

/* INTRO
==================*/
.intro {
  height: 661px;
  color: #fff; }
  @media (max-width: 560px) {
    .intro {
      height: 50vh; } }
  @media (min-width: 1366px) {
    .intro {
      height: 80vh; } }
  @media (min-width: 1570px) {
    .intro {
      height: 100vh; } }

/* CAROUSEL
==================*/
.carousel-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 10%;
  z-index: 999; }

.carousel-caption {
  padding-bottom: 65px !important;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: static !important;
  text-shadow: 1px 1px 10px #000; }
  @media (min-width: 1570px) {
    .carousel-caption {
      padding-bottom: 80px !important; }
      .carousel-caption .title {
        font-size: 100px; } }
  @media (max-width: 1180px) {
    .carousel-caption .title {
      font-size: 57px; }
    .carousel-caption .subtitle {
      font-size: 20px; } }
  @media (max-width: 785px) {
    .carousel-caption .title {
      font-size: 46px; }
    .carousel-caption .subtitle {
      font-size: 17px; } }
  @media (max-width: 662px) {
    .carousel-caption .title {
      font-size: 36px; }
    .carousel-caption .subtitle {
      max-width: 70%;
      margin: 0 auto; } }
  @media (max-width: 529px) {
    .carousel-caption {
      padding-bottom: 15px !important; }
      .carousel-caption .title {
        font-size: 30px; }
      .carousel-caption .subtitle {
        max-width: 94%; } }
  @media (max-width: 440px) {
    .carousel-caption .title {
      font-size: 26px; }
    .carousel-caption .subtitle {
      max-width: 96%; } }
  @media (max-width: 390px) {
    .carousel-caption .title {
      font-size: 24px; }
    .carousel-caption .subtitle {
      max-width: 100%; } }

.carousel-item {
  background-size: cover !important; }

.carousel-img-1 {
  background: url("../../images/intro/bg1.png") no-repeat center center fixed; }

.carousel-img-2 {
  background: url("../../images/intro/bg2.jpg") no-repeat center center fixed; }

.carousel-img-3 {
  background: url("../../images/intro/bg3.jpg") no-repeat center center fixed; }

/* ROUNDS
==================*/
.rounds {
  width: 155px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  /* For IE10-11
    ======================== */
  /* ====================== */ }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rounds {
      left: 45%; } }
  @media (max-width: 1180px) {
    .rounds {
      top: 45%; } }
  @media (max-width: 785px) {
    .rounds {
      top: 50%; } }
  @media (max-width: 560px) {
    .rounds {
      top: 27%; } }
  @media (min-width: 1570px) {
    .rounds {
      top: 50%; } }

.round {
  position: absolute;
  background-color: #fff;
  opacity: 0.56; }

.big-round {
  width: 117px !important;
  height: 117px !important;
  bottom: 0; }

.medium-round {
  width: 92px !important;
  height: 92px !important;
  top: 0;
  right: 0; }

.small-round {
  width: 71px !important;
  height: 71px !important;
  top: 40%;
  right: 0; }

/* CONTACTS
==================*/
.contacts {
  margin-top: 65px; }
  @media (max-width: 1065px) {
    .contacts-info {
      -ms-flex: 0 0 100% !important;
      -webkit-box-flex: 100% !important;
              flex: 100% !important;
      max-width: 100% !important;
      width: 100% !important;
      margin-bottom: 20px;
      padding: 0 !important; } }
  @media (max-width: 575px) {
    .contacts-info {
      margin-bottom: 0; } }
  .contacts-item {
    font-size: 20px; }
    @media (max-width: 1065px) {
      .contacts-item {
        -ms-flex: 0 0 30% !important;
        -webkit-box-flex: 30% !important;
                flex: 30% !important;
        max-width: 30% !important;
        width: 30% !important;
        margin: 0 10%; } }
    @media (max-width: 896px) {
      .contacts-item {
        font-size: 17px; } }
    @media (max-width: 784px) {
      .contacts-item {
        -ms-flex: 0 0 34% !important;
        -webkit-box-flex: 34% !important;
                flex: 34% !important;
        max-width: 34% !important;
        width: 34% !important;
        margin: 0 7%; } }
    @media (max-width: 697px) {
      .contacts-item {
        -ms-flex: 0 0 35% !important;
        -webkit-box-flex: 35% !important;
                flex: 35% !important;
        max-width: 35% !important;
        width: 35% !important;
        padding: 0 !important; } }
    @media (max-width: 592px) {
      .contacts-item {
        -ms-flex: 0 0 37% !important;
        -webkit-box-flex: 37% !important;
                flex: 37% !important;
        max-width: 37% !important;
        width: 37% !important; } }
    @media (max-width: 575px) {
      .contacts-item {
        -ms-flex: 0 0 100% !important;
        -webkit-box-flex: 100% !important;
                flex: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 0 30px 10%;
        font-size: 25px; } }
    @media (max-width: 470px) {
      .contacts-item {
        margin: 0 0 30px 6% !important; } }
  @media (max-width: 1065px) {
    .contacts .left-item {
      margin: 0 0 0 15% !important; } }
  @media (max-width: 784px) {
    .contacts .left-item {
      margin: 0 0 0 18% !important; } }
  @media (max-width: 697px) {
    .contacts .left-item {
      margin: 0 0 0 15% !important; } }
  @media (max-width: 592px) {
    .contacts .left-item {
      margin: 0 0 0 12% !important; } }
  @media (max-width: 575px) {
    .contacts .left-item {
      margin: 0 0 30px 10% !important; } }
  @media (max-width: 470px) {
    .contacts .left-item {
      margin: 0 0 30px 6% !important; } }

.address {
  display: block;
  margin-top: 5px;
  width: auto !important; }
  .address .dotted {
    border-bottom: 1px dotted #000; }

.fa-map-marker {
  margin-right: 5px; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .text-item {
    display: block !important;
    position: absolute !important;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); } }

@media (max-width: 1065px) {
  .hot-line {
    font-size: 25px; } }

.hot-line-number {
  margin: 5px 0 0 0;
  font-size: 19px;
  color: #000; }
  @media (max-width: 575px) {
    .hot-line-number {
      margin: 0 0 0 10px; } }
  @media (max-width: 470px) {
    .hot-line-number {
      margin: 5px 0 0 0; } }

@media (max-width: 575px) {
  .container-column-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

@media (max-width: 470px) {
  .container-column-sm {
    display: block; } }

.fa-phone {
  font-size: 16px;
  margin-left: 9px; }

.contact-number-whatsapp {
  margin-top: 5px; }

.contact-number-viber {
  margin-bottom: 5px; }

.contact-icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 5px; }

/* SETTINGS
==================*/
body, main {
  min-width: 363px; }

main {
  height: 200vh;
  font: 300 15px "Open Sans", sans-serif;
  color: #404040; }

.main-color {
  color: #de6d6e; }

.title {
  margin-bottom: 5px;
  font: 400 63px "PT Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px; }

@media (min-width: 1000px) {
  .container-lg {
    max-width: 1140px !important;
    padding: 0 !important; } }

.row-none-margins {
  margin: 0 !important; }

.btn-pink {
  background-color: #de6d6e !important;
  border-color: #de6d6e !important;
  color: #fff !important; }
  .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #e1797a !important;
    border-color: #e1797a !important; }
  .btn-pink:focus, .btn-pink:active {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important;
            box-shadow: 0 0 0 0.2rem rgba(225, 121, 122, 0.5) !important; }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.col-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.link, .link:hover, .link:focus,
.link:active, .link:visited {
  color: #736e6e;
  text-decoration: none; }

.link:hover {
  color: #595555; }

label {
  cursor: pointer; }
