
/* TESTIMONIALS
==================*/

.testimonials {

    display: flex;
    justify-content: center;

    height: 500px;
    color: #fff;
    background-color: $primary-color;

    &-inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .9fr .1fr;

        max-width: 61%;
        min-width: 660px;
        min-height: 300px;
    }
}

/* REVIEW
==================*/

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 700;
    text-align: center;

    &-text {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.24px;
    }

    &-author {
        margin-top: 28px;
        display: block;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
}

/* PAGINATION
==================*/

.pagination {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 31px;

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 40px;
    }
}

.btn-pag {
    @include size(6px, 6px);
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0e8e6;
}

.pag-active {
    @include size(10px, 10px);
    background-color: #fff;
}
