
/* GRID
==================*/

$container-size: 1170px;
$col-size: 7.137628%;

/* BREAKPOINTS
==================*/

$large: 1500px;
$laptop: 1270px;
$medium: 1170px;
$netbook: 1030px;
$tablet: 930px;
$final: 800px;

/* FONTS
==================*/

$primary-font: 500 12px 'Montserrat', sans-serif;
$secondary-font: 400 16px 'Nunito Sans', sans-serif;

/* COLORS
==================*/

$primary-color: #10c9c3;
$secondary-color: #e9e9e9;
$third-color: #f5f5f5;

$primary-text-color: #191919;
$secondary-text-color: #787878;
