
/* ALERT
==================*/

.alert {
    @include size(300px, 100px);
    margin: 0 0 20px 20px;
    border: 0 !important;
    padding: 0 !important;

    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);

    &-title, &-goods, &-link {
        margin: 10px 0 0 13px;
    }

    &-title {
        font: $title-font;
        font-size: 15px;
    }

    &-goods {
        margin-top: 5px;
        color: $gray-color;
        font-size: 13px;
    }

    &-link {
        margin-top: 6px;

        &:visited, &:active,
        &:focus, &:hover {
            background-color: initial;
            color: #17a2b8 !important;
        }
    }

    .close {
        padding: 6px 10px 0 0 !important;

        &:focus, &:active {
            outline: none;
        }
    }
}
