
/* INTRO
==================*/

.intro {
    height: 661px;
    color: #fff;

    @media (max-width: 560px) {
        height: 50vh;
    }

    @media (min-width: 1366px) {
        height: 80vh;
    }

    @media (min-width: 1570px) {
        height: 100vh;
    }
}

/* CAROUSEL
==================*/

.carousel-info {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 10%;

    z-index: 999;
}

.carousel-caption {
    padding-bottom: 65px !important;
    width: 100%;

    align-self: flex-end;
    position: static !important;

    text-shadow: 1px 1px 10px #000;

    .subtitle {
        font-size: 26px;
    }

    @media (min-width: 1570px) {
        padding-bottom: 80px !important;

        .title {
            font-size: 100px;
        }
    }

    @media (max-width: 1180px) {
        .title {
            font-size: 57px;
        }

        .subtitle {
            font-size: 20px;
        }
    }

    @media (max-width: 785px) {
        .title {
            font-size: 46px;
        }

        .subtitle {
            font-size: 17px;
        }
    }

    @media (max-width: 662px) {
        .title {
            font-size: 36px;
        }

        .subtitle {
            max-width: 70%;
            margin: 0 auto;
        }
    }

    @media (max-width: 529px) {
        padding-bottom: 15px !important;

        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 94%;
        }
    }

    @media (max-width: 440px) {
        .title {
            font-size: 26px;
        }

        .subtitle {
            max-width: 96%;
        }
    }

    @media (max-width: 390px) {
        .title {
            font-size: 24px;
        }

        .subtitle {
            max-width: 100%;
        }
    }
}

.carousel-item {
    background-size: cover !important;
}

.carousel-img-1 {
    @include bg-fixed("bg1.png");
}

.carousel-img-2 {
    @include bg-fixed("bg2.jpg");
}

.carousel-img-3 {
    @include bg-fixed("bg3.jpg");
}

/* ROUNDS
==================*/

.rounds {
    @include size(155px, 150px);

    position: absolute;
    top: 40%;

    /* For IE10-11
    ======================== */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        left: 50%;
        transform: translate(-10%, -50%);
    }
    /* ====================== */

    @media (max-width: 1180px) {
        top: 45%;
    }

    @media (max-width: 785px) {
        top: 50%;
    }

    @media (max-width: 560px) {
        top: 27%;
    }

    @media (min-width: 1570px) {
        top: 50%;
    }
}

.round {
    position: absolute;

    background-color: #fff;
    opacity: 0.56;
}

.big-round {
    @include size(117px, 117px);
    bottom: 0;
}

.medium-round {
    @include size(92px, 92px);
    top: 0;
    right: 0;
}

.small-round {
    @include size(71px, 71px);
    top: 40%;
    right: 0;
}
