/* NAVIGATION
==================*/

.navbar {
    min-width: $final;

    background-color: rgba(255,255,255,.9);
}

.navbar-brand {
    font: $brand-font;
}

.nav-link {
    font: $secondary-font;
}

.filters {
    padding: 4px 8px !important;
    margin-right: 10px;
}

#filters-lg {
    width: 144px !important;
}

.flag {
    padding: 0 !important;
    @include size(32px, 24px);
}

.icon-item {
    margin: 3px 20px 0 10px;

    @media (max-width: 992px) {
        margin: 0;
    }
}

.btn-item {
    margin-top: 5px;
    padding: 0px !important;

    .nav-link {
        padding: inherit;
    }

    @media (max-width: 992px) {
        margin-top: 10px;
        padding: 3px 3px 3px 0 !important;
    }
}

.fa-user {
    padding: 4px 7px 0 0;

    font-size: 20px;
    color: #fff;
}

.btn-pink {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: #fff !important;

    &:hover, &:focus, &:active {
        background-color: lighten($primary-color, 3%) !important;
        border-color: lighten($primary-color, 3%) !important;
    }

    &:focus, &:active {
        box-shadow: 0 0 0 0.2rem rgba(225, 121, 122,.5) !important;
    }
}

/* INTRO
==================*/

.intro {
    height: 661px;
    color: #fff;

    @media (min-width: 1366px) {
        height: 80vh;
    }

    @media (min-width: 1570px) {
        height: 100vh;
    }
}

/* CAROUSEL
==================*/

.carousel-info {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 10%;

    z-index: 999;
}

.carousel-caption {
    padding-bottom: 65px !important;
    width: 100%;

    align-self: flex-end;
    position: static !important;

    text-shadow: 1px 1px 10px #000;

    @media (min-width: 1570px) {
        padding-bottom: 80px !important;

        .title {
            font-size: 100px;
        }
    }

    @media (max-width: 1180px) {
        .title {
            font-size: 57px;
        }

        .subtitle {
            font-size: 20px;
        }
    }

    @media (max-width: 785px) {
        .title {
            font-size: 46px;
        }

        .subtitle {
            font-size: 17px;
        }
    }

    @media (max-width: 662px) {
        .title {
            font-size: 36px;
        }

        .subtitle {
            max-width: 70%;
            margin: 0 auto;
        }
    }

    @media (max-width: 529px) {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 94%;
        }
    }

    @media (max-width: 440px) {
        .title {
            font-size: 26px;
        }
    }
}

.carousel-item {
    background-size: cover !important;
}

.carousel-img-1 {
    @include bg-fixed("bg1.png");
}

.carousel-img-2 {
    @include bg-fixed("bg2.jpg");
}

.carousel-img-3 {
    @include bg-fixed("bg3.jpg");
}

/* ROUNDS
==================*/

.rounds {
    @include size(155px, 150px);

    position: absolute;
    top: 40%;

    @media (min-width: 1570px) {
        top: 50%;
    }

    @media (max-width: 1180px) {
        top: 45%;
    }

    @media (max-width: 785px) {
        top: 50%;
    }
}

.round {
    position: absolute;

    background-color: #fff;
    opacity: 0.56;
}

.big-round {
    @include size(117px, 117px);
    bottom: 0;
}

.medium-round {
    @include size(92px, 92px);
    top: 0;
    right: 0;
}

.small-round {
    @include size(71px, 71px);
    top: 40%;
    right: 0;
}
