
/* SETTINGS
==================*/

.results {
    margin-top: 100px;

    &, &-wrapper {
        padding: 0 20px 0 35px;

        @media (max-width: 790px) {
            width: 448px;
        }

        @media (max-width: 533px) {
            width: 360px;
            padding: 0 0 0 5px !important;
        }

        @media (min-width: 806px) {
            width: 791px;
        }

        @media (min-width: 1139px) {
            width: 1124px;
        }

        @media (min-width: 1457px) {
            width: 1442px;
        }

        @media (min-width: 1735px) {
            width: 1720px;
        }
    }

    &-item {
        margin-bottom: 15px;
        padding-right: 15px;
        @include size(333px, 478px);
    }

    .categoria-title {
        font: $secondary-font;
        font-size: 32px;

        @media (max-width: 460px) {
            font-size: 25px;
        }
    }

    .categoria-subtitle {
        margin-bottom: 30px;
        font-size: 14px;
        color: $gray-color;

        @media (max-width: 460px) {
            font-size: 12px;
        }
    }

    .card {
        .product-preview {
            position: relative;

            .bonuses {
                @include size($width: 80px);
                padding: 5px 0 5px 8px;

                position: absolute;
                bottom: 0;
                left: 0;

                border-top-right-radius: 85%;
                background-color: #fff98c;
                color: #ffaf75;

                font-size: 15px;

                .fa-gift {
                    padding: 0 8px 3px 0;
                    font-size: 22px;
                }
            }

            .favorite-mark {
                @include size(48px, 48px);

                position: absolute;
                top: 2%;
                right: 2%;

                background-color: #fff;
                border-radius: 50%;

                &:hover .fa-heart {
                    color: #f02626;
                }

                &:active .fa-heart {
                    transform: scale(1.1);
                }

                cursor: pointer;

                .fa-heart {
                    font-size: 24px;
                    color: #f7875e;
                    transition: color .8s linear, transform .1s linear;
                }
            }

            .hit-mark {
                @include size(120px, 68px);

                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        &-img-top {
            height: 313px;
        }

        &-title {
            margin: 12px 0 7px 0;
            font-size: 16px;
        }

        .product-rate {
            margin-top: 10px;
            height: 32px;

            font-size: 12px;

            .score-block {
                width: 32px;
                margin-right: 10px;
                background-color: lighten($primary-color, 10%);
                border-radius: 4px;

                font-weight: 600;
                color: #fff;
            }

            .reviews {
                color: $gray-color;
            }
        }
    }
}
