
/* BREAKPOINTS
==================*/

$final: 400px;

/* FONTS
==================*/

$primary-font: 300 15px 'Open Sans', sans-serif;
$secondary-font: 400 17px 'Montserrat Alternates', sans-serif;
$brand-font: 400 41px 'Bad Script', cursive;
$title-font: 400 69px 'PT Mono', monospace;

/* COLORS
==================*/

$primary-color: #de6d6e;
$secondary-color: #736e6e;
$black-color: #404040;
$gray-color: #8b8b8b;
